# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Project Sh.iml
# Datasource local storage ignored files
/../../../../../../:\0Unity\Project Sh\.idea\.idea.Project Sh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
